<div layout-padding layout="column" layout-align="center stretch">

  <div flex id="top-fixture">
    <md-list id="scores">
      <md-list-item class="md-2-line" ng-repeat="item in recentGames">
        <div class="md-list-item-text">
          <h3>{{item.id}}</h3>
        </div>
      </md-list-item>
    </md-list>

    <div flex layout="row" layout-align="center" id="navbar">
      <md-content class="md-padding">
        <md-nav-bar
          md-selected-nav-item="currentNavItem"
          nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-click="goto('page1')" name="page1" ui-sref="home">
            Home
          </md-nav-item>
          <md-nav-item md-nav-click="goto('page2')" name="page2" ui-sref="seasons">
            Seasons
          </md-nav-item>
          <md-nav-item md-nav-click="goto('page3')" name="page3">
            Owners
          </md-nav-item>
          <md-nav-item md-nav-href="#page4" name="page5">
            Teams
          </md-nav-item>
          <md-nav-item md-nav-sref="app.page5" name="page4">
            Head To Head
          </md-nav-item>
          <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
            All Time Stats
          </md-nav-item>

        </md-nav-bar>
      </md-content>
    </div>
  </div>

  <ui-view></ui-view>
</div>
