<h3>News Articles</h3>

  <h4>What Makes a Player ELITE?</h4>
  <p>Lately there has been much discussion amongst owners in
  the BMFFL about what makes a player ELITE. The
  conversation has centered around a certain few athletes.
  (And before I say who they are I just want to say that if
  you're going to go after an amateur athlete, if you're going
  to go after one of my athletes, especially one who does
  everything right, except poke opponents in the eyes, then
  you better come after me, because I'm a man, I'm 40, I'm
  not a kid, that's why I don't read the Bowery Times, because
  it's garbage, and the senior editor doesn't have his facts
  straight). Anyway, this prestigious club of (potential)
  ELITE athletes includes the likes of Joe Flacco, the great
  Sioux City product Adam Woodbury, and yesterday the
  question was posed as to whether Jay Cutler is ELITE.
  Seriously?
  There are three criteria that are used to determine if an
  athlete is ELITE:
  <ol>
    <li>Individual Performance. An elite athlete must have
    statistics that are well above the league standard.</li>
    <li>Championships. You've gotta win championships. You
    can talk about how great Archie Manning was all day long,
    but the guy didn't win squat. And he played at Ole Miss.
    Which isn't as bad as Mississippi State though. If you're not
    familiar with Mississippi State, they're kind of about as
    good at Matt's fantasy team on a year to year basis.</li>
    <li>The eye test. You know an ELITE athlete when you see
    one. This is the criteria that fuels most debates as to
    whether or not an athlete is ELITE.</li>
  </ol>
  Now, let's look at a couple of examples of ELITE players.
  I'll include players from a few different sports. These
  players can be from the past or the present. </p>

  <p> ELITE: Derek Jeter, Peyton Manning, Patrick Kane,
  Michael Jordan, Tiger Woods, Anthony Rizzo</p>
  <p>Not ELITE: Derrick Rose, the Michigan punter, Augie
  Ojeda</p>
  <p>Now for each of the three athletes that we've been
  talking about for the past couple weeks:</p>

  <ol>
    <li>Joe Flacco - ELITE. Joe has some great career numbers,
    is a champion, and looks damn good out there.</li>
    <li>Adam Woodbury - ELITE. Guy records some really
    high stats (personal fouls), guy is a champion (won an
    NCAA tournament game last year), and the guy looks
    great out there. And he invented the eye poke of the
    opponent that has the ball.</li>
    <li>Jay Cutler - ELITE. Did you guys see that fourth quarter
    game winning drive on Monday night?</li>
  </ol>

</div>
